* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f0f4f7;
  color: #777;
  position: relative; }

.linux {
  background-image: linear-gradient(to right, #fff, #343a40); }

.devops {
  background-image: linear-gradient(to right, #d0bfff, #b197fc); }

.wordpress {
  background-image: linear-gradient(to right, #a5d8ff, #339af0); }

.laravel {
  background-image: linear-gradient(to right, #ff8787, #fa5252); }

.sql {
  background-image: linear-gradient(to right, #ffa94d, #e8590c); }

.javascript {
  background-image: linear-gradient(to right, #ffec99, #fab005); }

@keyframes moveupanddown {
  0% {
    transform: translateY(1.3rem); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(1.3rem); } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem; }
  .header__message {
    font-size: 2rem;
    font-weight: 500; }
  .header__logo img {
    width: 100%;
    height: 5rem;
    width: 5rem;
    border-radius: 100px; }
  .header__user-box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__user-photo {
    width: 100%;
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
    margin-right: 2rem; }

.main {
  margin: 4rem auto;
  max-width: 100rem;
  height: 80rem; }

.select-menu {
  max-width: 99rem; }

.select {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  flex-wrap: wrap; }
  .select__item {
    margin-top: 2rem; }
    .select__item-link:link, .select__item-link:visited {
      display: flex;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      background-color: #ffa94d;
      padding: 0.5rem 2rem;
      border-radius: 100px;
      margin-right: 2.2rem;
      transition: all 0.2s; }
      .select__item-link:link:not(:last-child), .select__item-link:visited:not(:last-child) {
        margin-right: 2.2rem; }
    .select__item-link:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
    .select__item-link:active {
      transform: translateY(0);
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1); }
    .select__item-icon {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      color: #777; }

.results {
  margin-top: 5rem;
  background-color: #fff;
  width: 80rem;
  height: 33rem;
  margin-left: 25rem; }
  .results__icon-con {
    text-align: center; }
  .results__icon {
    margin-top: 5rem;
    text-align: center;
    width: 5rem;
    height: 5rem; }

.quiz {
  max-width: 75%;
  margin: 0 auto;
  height: 60rem;
  position: relative; }
  .quiz__start {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    display: inline-block; }
    .quiz__start-text {
      background-image: linear-gradient(to right, #343a40 0%, #d0bfff 20%, #a5d8ff 30%, #fa5252 40%, #e8590c 55%, #fab005 70%, #ffec99 100%);
      -webkit-background-clip: text;
      color: transparent;
      font-size: 3rem;
      font-weight: 500;
      line-height: 1.7; }
    .quiz__start-icon {
      height: 2.7rem;
      width: 2.7rem;
      display: inline-block;
      color: #a5d8ff; }
      .quiz__start-icon--arrow {
        animation: moveupanddown 0.9s infinite ease-in; }
      .quiz__start-icon--flash {
        color: #fa5252; }
  .quiz__number {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;
    font-size: 1.6rem;
    color: black; }
    .quiz__number::before, .quiz__number::after {
      display: block;
      content: "";
      height: 1px;
      background-image: linear-gradient(to right, #c0c3c6, #909294); }
  .quiz__finish {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;
    font-size: 1.6rem;
    color: black;
    text-transform: uppercase; }
    .quiz__finish::before, .quiz__finish::after {
      display: block;
      content: "";
      height: 1px;
      background-image: linear-gradient(to right, #c0c3c6, #909294); }
  .quiz__submit {
    border: none;
    padding: 1.5rem 3rem;
    width: 100%;
    border: 1px solid #ebfafb;
    border-radius: 100px;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 3rem; }
    .quiz__submit:hover {
      background-image: linear-gradient(to right, #c0c3c6, #909294); }

.question {
  padding: 2rem 4rem;
  margin-bottom: 1.5rem; }
  .question__text {
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: #444; }
  .question__options {
    font-size: 1.7rem;
    border: none;
    padding: 1.5rem 3rem 1.5rem 0.3rem;
    background-color: #777;
    border-radius: 100px;
    min-width: 67%;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    text-align: left;
    display: block;
    background-image: linear-gradient(to right, #c0c3c6, #909294);
    transition: all 0.2s; }
    .question__options p {
      text-align: left; }
    .question__options:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
    .question__options:active {
      transform: translateY(0);
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1); }
    .question__options:hover {
      transform: translateX(2rem) translateY(-0.5rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .question__options:active {
      transform: translateX(2rem) translateY(0);
      box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.1); }
  .question__btns {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .question__prevnext--prev {
    margin-right: 1rem; }
  .question__prevnext--prev, .question__prevnext--next {
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    background-image: linear-gradient(to right, #c0c3c6, #909294);
    transition: all 0.2s;
    box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.05); }
    .question__prevnext--prev:hover, .question__prevnext--next:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
    .question__prevnext--prev:active, .question__prevnext--next:active {
      transform: translateY(0);
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1); }
  .question__timer {
    font-size: 2rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0.5px solid #c0c3c6;
    border-radius: 100px;
    box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.05); }
  .question__explanation {
    padding: 5rem 0;
    padding-left: 1rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    border-radius: 15px;
    box-shadow: 0 1.2rem 6rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    background-color: #f0f4f7; }
    .question__explanation:hover {
      transform: scale(1.01); }
    .question__explanation-heading {
      font-size: 1.3rem;
      text-transform: uppercase;
      text-align: start; }
    .question__explanation-text {
      font-size: 1.2rem; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.popup {
  background-image: url(../img/vandan-patel-TPn8jvj4PYo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-color: #fff;
  max-width: 80rem;
  border-radius: 45px;
  padding: 6.5rem 4rem;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .popup__close-btn {
    font-size: 3.5rem;
    position: absolute;
    top: 0;
    right: 3rem;
    color: black; }
  .popup h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: black; }
  .popup h4 {
    font-size: 2.5rem;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .popup__number-heading {
    font-size: 2rem;
    margin-bottom: 1.7rem;
    color: black; }
  .popup__number-form {
    display: flex;
    align-items: center; }
    .popup__number-form--label {
      font-size: 2rem;
      font-weight: 400;
      margin-left: 1.3rem; }
  .popup__submit {
    margin-top: 2rem;
    border: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 100px;
    transition: all 0.2s;
    font-weight: 700;
    letter-spacing: 0.1rem; }
    .popup__submit:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
    .popup__submit:active {
      transform: translateY(0);
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1); }

.submit-popup {
  background-image: url(../img/nordwood-themes-kRNZiGKtz48-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  position: absolute;
  max-width: 80rem;
  border-radius: 45px;
  background-color: #fff;
  padding: 9.5rem 6rem;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .submit-popup__heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #495057;
    margin-bottom: 1.3rem; }
  .submit-popup__message {
    font-size: 1.8rem;
    line-height: 1.8;
    color: #777; }
  .submit-popup__btn {
    margin-top: 2.5rem;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    padding: 1.2rem 2rem;
    transition: all 0.2s; }
    .submit-popup__btn:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
    .submit-popup__btn:active {
      transform: translateY(0);
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1); }
    .submit-popup__btn:not(:last-child) {
      margin-right: 1.5rem; }
    .submit-popup__btn--green {
      background-color: #69db7c; }
    .submit-popup__btn--violet {
      background-color: #e599f7; }
