* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #777;
  background-image: linear-gradient(to right bottom, #ffe8cc, #ffa94d); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem; }
  .header__message {
    font-size: 2rem;
    font-weight: 500; }
  .header__logo img {
    width: 100%;
    height: 5rem;
    width: 5rem;
    border-radius: 100px; }
  .header__user-box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__user-photo {
    width: 100%;
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
    margin-right: 2rem; }

.main {
  margin: 4rem auto;
  max-width: 100rem;
  height: 80rem; }

.select {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem; }
  .select__item {
    margin-top: 2rem; }
    .select__item-link:link, .select__item-link:visited {
      display: flex;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      background-color: #ffa94d;
      padding: 0.5rem 2rem;
      border-radius: 100px;
      margin-right: 2.2rem;
      transition: all 0.2s; }
      .select__item-link:link:not(:last-child), .select__item-link:visited:not(:last-child) {
        margin-right: 2.2rem; }
    .select__item-link:hover {
      transform: translateY(-0.5rem); }
    .select__item-link:active {
      transform: translateY(0); }
    .select__item-icon {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      color: #777; }
    .select__item-html:link {
      background-image: linear-gradient(to right, #ffe8cc, #ffa94d); }
    .select__item-css:link {
      background-image: linear-gradient(to right, #a5d8ff, #4dabf7); }
    .select__item-javascript:link {
      background-image: linear-gradient(to right, #ffe066, #fab005); }
    .select__item-react:link {
      background-image: linear-gradient(to right, #66d9e8, #1098ad); }
    .select__item-nodejs:link {
      background-image: linear-gradient(to right, #69db7c, #37b24d); }

.quiz {
  max-width: 75%;
  margin: 0 auto;
  height: 60rem; }
  .quiz__number {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;
    font-size: 1.6rem;
    color: black; }
    .quiz__number::before, .quiz__number::after {
      display: block;
      content: "";
      height: 1px;
      background-image: linear-gradient(to right, #ffe8cc, #ffa94d); }
  .quiz__finish {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;
    font-size: 1.6rem;
    color: black;
    text-transform: uppercase; }
    .quiz__finish::before, .quiz__finish::after {
      display: block;
      content: "";
      height: 1px;
      background-image: linear-gradient(to right, #ffe8cc, #ffa94d); }
  .quiz__submit {
    border: none;
    padding: 1.5rem 3rem;
    width: 100%;
    border: 1px solid #ffe8cc;
    border-radius: 100px;
    text-transform: uppercase;
    margin-top: 2rem; }
    .quiz__submit:hover {
      background-image: linear-gradient(to right, #ffe8cc, #ffa94d); }

.question {
  padding: 2rem 4rem;
  margin-bottom: 1.5rem; }
  .question__text {
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: #444; }
  .question__options {
    font-size: 1.7rem;
    border: none;
    padding: 1.5rem 3rem 1.5rem 0.3rem;
    background-color: #777;
    border-radius: 100px;
    min-width: 67%;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    text-align: left;
    display: block;
    background-image: linear-gradient(to right, #ffe8cc, #ffa94d);
    transition: all 0.2s; }
    .question__options p {
      text-align: left; }
    .question__options:hover {
      transform: translateX(2rem) translateY(-0.5rem); }
    .question__options:active {
      transform: translateX(2rem) translateY(0); }
  .question__btns {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .question__prevnext--prev {
    margin-right: 1rem; }
  .question__prevnext--prev, .question__prevnext--next {
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    background-image: linear-gradient(to right, #ffe8cc, #ffa94d); }
  .question__timer {
    font-size: 2rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0.5px solid black;
    border-radius: 100px; }
