//variables
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px because 10/16 = 62.5%

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(phone) {
    font-size: 45%;
  }
  @media only screen and (max-width: 450px) {
    // max-width: 35rem;
    font-size: 40%;
  }
}

body {
  min-height: 100vh;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f0f4f7;
  // background-color: #e3fafc;
  color: #777;
  // background-image: linear-gradient(to right bottom, #ebfafb, #d8f4f8);
  position: relative;

  // @include respond(phone) {
  //   background-color: red;
  // }
}

//UTILITIES
.linux {
  background-image: linear-gradient(to right, #fff, #343a40);
}
.devops {
  background-image: linear-gradient(to right, #d0bfff, #b197fc);
}
.wordpress {
  background-image: linear-gradient(to right, #a5d8ff, #339af0);
}
.laravel {
  background-image: linear-gradient(to right, #ff8787, #fa5252);
}
.sql {
  background-image: linear-gradient(to right, #ffa94d, #e8590c);
}
.javascript {
  background-image: linear-gradient(to right, #ffec99, #fab005);
}

@keyframes moveupanddown {
  0% {
    transform: translateY(1.3rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1.3rem);
  }
}
