.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;

  &__message {
    font-size: 2rem;
    font-weight: 500;
  }
  &__logo img {
    width: 100%;
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
  }

  &__user-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__user-photo {
    width: 100%;
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
    margin-right: 2rem;
  }
}

.main {
  //   background-color: orangered;
  margin: 4rem auto;
  max-width: 100rem;
  height: 80rem;
}

.select-menu {
  max-width: 99rem;
}

.select {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  flex-wrap: wrap;

  &__item {
    margin-top: 2rem;
    &-link:link,
    &-link:visited {
      display: flex;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      background-color: #ffa94d;
      padding: 0.5rem 2rem;

      border-radius: 100px;
      margin-right: 2.2rem;
      transition: all 0.2s;

      &:not(:last-child) {
        margin-right: 2.2rem;
      }
    }

    &-link:hover {
      transform: translateY(-0.5rem);
    }
    &-link:active {
      transform: translateY(0);
    }

    &-icon {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      color: #777;
    }
  }
}

// //     &__seenon-text{
//   display: grid;
//   grid-template-columns: 1fr max-content 1fr;
//   align-items: center;
//   grid-column-gap: 1.5rem;
//   font-size: 1.6rem;
//   color: $color-grey-light-2;

//   &::before,&::after{
//       display: block;
//       content: "";
//       height: 1px;
//       background-color: #fff;
//   }

// }

.quiz {
  //   background-color: red;
  max-width: 75%;
  margin: 0 auto;
  height: 60rem;

  &__number {
    padding-top: 7rem;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;
    font-size: 1.6rem;
    color: black;

    &::before,
    &::after {
      display: block;
      content: "";
      height: 1px;
      // background-image: linear-gradient(to right, #fff, black);
    }
  }

  &__finish {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;
    font-size: 1.6rem;
    color: black;
    text-transform: uppercase;

    &::before,
    &::after {
      display: block;
      content: "";
      height: 1px;
      background-image: linear-gradient(to right, #c5f6fa, #99e9f2);
    }
  }

  &__submit {
    border: none;
    padding: 1.5rem 3rem;
    width: 100%;
    border: 1px solid #ebfafb;
    border-radius: 100px;
    text-transform: uppercase;
    margin-top: 2rem;

    &:hover {
      background-image: linear-gradient(to right, #c5f6fa, #99e9f2);
    }
  }
}

.question {
  padding: 2rem 4rem;
  margin-bottom: 1.5rem;

  &__text {
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: #444;
  }
  &__options {
    font-size: 1.7rem;
    border: none;
    padding: 1.5rem 3rem 1.5rem 0.3rem;
    background-color: #777;
    border-radius: 100px;
    min-width: 67%;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    text-align: left;
    display: block;
    background-image: linear-gradient(to right, #c5f6fa, #99e9f2);
    transition: all 0.2s;

    & p {
      text-align: left;
    }
    &:hover {
      transform: translateX(2rem) translateY(-0.5rem);
    }
    &:active {
      transform: translateX(2rem) translateY(0);
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__prevnext--prev {
    margin-right: 1rem;
  }
  &__prevnext--prev,
  &__prevnext--next {
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    background-image: linear-gradient(to right, #c5f6fa, #99e9f2);
  }

  &__timer {
    font-size: 2rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0.5px solid #99e9f2;
    border-radius: 100px;
    // margin-right: 23rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
